body {
    font-family: Josefin Sans, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden; /* Prevent body from scrolling */
    height: 100vh; /* Full viewport height */
}
#sidebar {
    width: 100px;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.3s ease;
    overflow: hidden;
    color: rgb(41, 41, 41);
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}
#sidebar:hover {
    width: 350px;
}

#content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide overflow */
    
}

#content {
    flex-grow: 1;
    padding-top: 50px;
    padding-left: 20px;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide overflow */
    
}

#pageTitle {
    margin-top: 0;
}

.scrollable-content {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 20px; /* Add some padding for the scrollbar */
}
.nav-item {
    font-size: 18px;
    margin-bottom: 40px;
    cursor: pointer;
    position: relative;
    height: 2em;
    white-space: nowrap;
    filter: blur(3px);
    transition: filter 0.5s ease;
    
}

.nav-item:hover {
    filter: blur(0);
}

.nav-item span {
    position: absolute;
    transition: all 0.5s ease;
 
}
.nav-item .first-letter {
    font-weight: 900;
    font-size: 1.5em;
    color: #ce1515;
    
}


.josefin-sans-abc {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.rectangle {
    position: absolute;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.1);
}